<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <title>Researcher</title>
</head>
<body>
<div class="page-header">
    {% if user.is_authenticated %}
    <p class="top-menu">Hello {{ user.username }}<small>(<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)</small></p>
    {% else %}
    <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
    {% endif %}
    <h1><a href="/">ReSearcher</a></h1>

</div>

    <div class="search">
        <form role="form" action="/search/" method="get">
            <p><label for="id_search">Search:</label>
                <input id="id_search" type="text" name="user_query">
                <input type="submit" value="Search"></p>
            <h3>Search Tips:</h3>
            <p>• Instead of using the spacebar, put a '+' between terms</p>
            <p>• You can also use boolean operators such as 'AND' and 'OR' (e.g. Dog+AND+laws)</p>
        </form>
    </div>



{% block content %}
{% endblock %}


</body>
</html>