{% extends 'search/base.html' %}

{% block content %}
<div>
    <h2>Previous Searches</h2>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% for research in research %}
                    <div class="prev-search">
                        <p>Search term: <a href="{% url 'researcher:search_previous' pk=research.pk %}">{{research.search_term}}</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}