{% extends 'search/base.html' %}

{% block content %}
    <div class="search-detail">
            <h2>Digital Public Library of America</h2>
            {% for dpla in dpla_results %}
            <div class="DplaResult">
                <p>Link: {{ dpla.url }}<</p>
                <p>Author: {{ dpla.author }}</p>
                <p>Description: {{ dpla.summary }}</p>
                <p>Subject heading: {{ dpla.subject_heading1 }}</p>
                <p>Subject heading: {{ dpla.subject_heading2 }}</p>
                <p>Subject heading: {{ dpla.subject_heading3 }}</p>
                <p>Subject heading: {{ dpla.subject_heading4 }}</p>
                <p>Subject heading: {{ dpla.subject_heading5 }}</p>
                <p>Subject heading: {{ dpla.subject_heading6 }}</p>
                <p>Publisher: {{ dpla.publisher }}</p>
                <p>Date published: {{ dpla.date_published }}</p>
                <br>
            </div>
            {% endfor %}
            {% if wiki_result %}
            <div class="Wiki">
                <h2>Wikipedia</h2>
                <a href="{{ wiki_result.url }}">{{ wiki_result.url }}</a>
                <p>{{ wiki_result.title }}</p>
                <p>{{ wiki_result.summary }}</p>
            </div>
            {% endif %}
            <div class="Images">
                <h2>Images</h2>
                <!--<img src="{{ images.imageURL1 }}">-->
                <!--<img src="{{ images.imageURL2 }}">-->
                <!--<img src="{{ images.imageURL3 }}">-->
                <!--<img src="{{ images.imageURL4 }}">-->
                <!--<img src="{{ images.imageURL5 }}">-->
            </div>

    </div>
{% endblock %}